// CSS Entry File
//SCSS lets you visually nest selectors more easily
//will get converted into main css
// @import './styles/reset.css';

*{
	margin: 0;
	padding: 0;
  // font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'pokemongba' !important;
  font-size: 15px;
}
@font-face {
  font-family: 'pokemongba';
  font-style: 'regular';
  font-weight: 300;
  src: url('../assets/PokemonGb-RAeo.ttf');
}
#body{
  background-color: slategray;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:20px;
}
.content-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-top:10px;
}
#left-container{
  display: flex;
  flex-direction: column;
  margin-right:10px;
  height: 90%;
  // border-radius: 50px;

}
#canvas{
  // width:60vw;
  // height: 70%;
  border-radius: 10px;
  margin-bottom:5px;
  // border:rgb(0, 0, 0) 3px solid;
}
#dialoguebox{
	background-color: lightblue;
	height: 30%;
  width:850px;
 
	// display: flex;
  border-radius: 10px;
}

#dialogueButtons{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  
}
#dialoguebox{
  display:flex;
  flex-direction: row;
  padding:10px;
  align-items: center;
  justify-content: space-around;

}
#dialogue-text-container{
  width: 60%;
  display: flex;
  justify-content: center;
}
#dialoguetext1{
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
  // transition: transform 150ms, box-shadow 150ms;
  padding: 10px 30px;
  border-radius: 2px;
  cursor:pointer;
  }

button:hover { 
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .default-content-right {
    padding: 10px 30px;
  }
}


#rightside-container{
  background-color: rgb(156, 235, 156);
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

#rightside-container *{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 2px;
}
#dialogue-text-container{
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}
.divider {
  flex-grow: 1;
  border-bottom: 1px solid black;
  margin: 5px
}

#instructions{
  padding: 15px;
}

.backButton{
  background-color: #345f2f;
  top:0;
}

.hidden{
  display: none !important;
}